/* public/styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125vh;
  }

  h1, h2{
    font-family: 'Noto Sans Gujarati', sans-serif;
  }
.header-text{
    text-align: center;
}

.main-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
  .header{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo{
    height:100px;
    width: 100px;
  }
  
  form {
    width: 70vw;
    height: 90vh;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  .userType{
    display: flex;
  }
  .userType-student, .userType-parent{
    display: flex;
    width: 100px;
    padding: 10px
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
.success-message {
    text-align: center;
    color: #4caf50;
    background-color: #dff0d8;
    padding: 10px;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .error-message {
    text-align: center;
    color: #a94442;
    background-color: #f2dede;
    padding: 10px;
    border: 1px solid #ebccd1;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  footer{
    font-size: 10px;
    opacity: 0.3;
    text-align: center;
    margin-top: 10vh;
  }
  

  @media only screen and (max-width: 600px) {
    form {
        height: 80vh;
        width: 85vw;
    }
    .header-text{
        margin-top: 0vh;
    }
    footer{
        margin-top: 1vh;
    }
    body{
        height: 110vh;
    }
  }
  
  
